.cbp-ig-grid {
  list-style: none;
  padding: 0 0 50px;
  margin: 0;
}

.cbp-ig-grid:before,
.cbp-ig-grid:after {
  content: " ";
  display: table;
}

.cbp-ig-grid:after {
  clear: both;
}

.cbp-ig-grid li {
  width: 25%;
  float: left;
  height: 200px;
  text-align: center;
}

.cbp-ig-grid li > span {
  display: block;
  height: 100%;
  color: #7289da;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  /* cursor: pointer;  */
}

.cbp-ig-icon, .svg-icon svg {
  padding: 30px 0 0;
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -moz-transform 0.2s;
  transition: transform 0.2s; 
}

.cbp-ig-icon:before, .svg-icon svg {
  font-family: 'devicon';
  font-size: 6em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.cbp-ig-grid .cbp-ig-title {
  margin: 20px 0 10px;
  font-size: 1em;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}

.cbp-ig-grid .cbp-ig-title:before {
  content: '';
  position: absolute;
  background: #7289da;
  width: 60px;
  height: 2px;
  top: 0;
  left: 50%;
  margin: 0 0 0 -30px;
  -webkit-transition: margin-top 0.2s;
  -moz-transition: margin-top 0.2s;
  transition: margin-top 0.2s; }

.cbp-ig-grid li > span:hover, 
.cbp-ig-grid li > span.active {
  background: 	#7289da;
}

.cbp-ig-grid li > span:hover svg, 
.cbp-ig-grid li > span.active svg {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

.cbp-ig-grid li > span:hover .cbp-ig-icon:before,
.cbp-ig-grid li > span:hover .cbp-ig-title, 
.cbp-ig-grid li > span.active .cbp-ig-icon:before,
.cbp-ig-grid li > span.active .cbp-ig-title {
  color: #fff;
}

.cbp-ig-grid li > span:hover .cbp-ig-title, 
.cbp-ig-grid li > span.active .cbp-ig-title {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.cbp-ig-grid li > span:hover .cbp-ig-title:before,
.cbp-ig-grid li > span.active .cbp-ig-title:before {
  background: #fff;
  margin-top: 80px;
}

@media only screen and (max-width: 700px) {
  ul.feature-icons li {
    display: flex;
    justify-content: center;
    width: 30%;
  }
}

@media only screen and (max-width: 400px) {
  ul.feature-icons li span {
    /* width: 200%; */
    /* min-width: 90px; */
    max-height: 90px;
    width: 60%;
  }

  ul.feature-icons li span {
    /* width: 200%; */
    /* min-width: 90px; */
    max-height: 90px;
  }
}


@media only screen and (max-width: 350px) {
  ul.feature-icons li {
    display: flex;
    justify-content: center;
    width: 60%;
  }
  ul.feature-icons li span {
    /* width: 200%; */
    min-width: 90px;
    /* max-height: 90px; */
  }
}

ul.feature-icons li span {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.svg-icon svg, .cbp-ig-icon {
  width: 60%;
}

.svg-icon svg path, .svg-icon svg g{
  fill: #7289da;
}

.svg-icon:hover svg path, 
.svg-icon:hover svg g, 
.svg-icon.active svg path, 
.svg-icon.active svg g {
  fill: #fff;
} 

ul.feature-icons li {
  height: 100%;
}

.cbp-ig-icon, .svg-icon svg {
  padding: 5px 0 0 0;
}

ul.feature-icons li {
  display: flex;
  justify-content: center;
  width: 30%;
}

ul.feature-icons li span {
  min-width: 90px;
}