/* #wrapper {
  background: #23272a;
}

#one .major p, ul.feature-icons li,  h3 {
  color: #ffffff;
}

p {
  color: #dce3e8;
}

#main section {
  border-top: 6px solid #3b3d41;
} */

.container .major h2 {
  color: 	#7289da;
}

.resume-link h2 {
  color: 	#7289da;
  text-decoration: underline;
}

ul.feature-icons li:before {
  background-color: #7289da;
}

#header, #titleBar .toggle:before {
  background: #7289da;
  background-color: #7289da;
  border-right: #7289da;
}

#header, #header header {
  border-left: #7289da;
}

#header > nav ul li a.active, #header > nav ul li a:hover {
  background: #ffffff;
  color: #7289da !important;
}

#header > nav ul li {
    border-top: solid 2px #e4e4e44f;
    border-top-width: 2px;
    border-top-style: solid;
}

#header > footer .icons li a {
  color: #eeeff5 !important;
}

#one .top-links {
	display: flex;
}

#one .icons {
	margin-left: 20px;
	margin-bottom: 10px;
}

#header > footer .icons li a:hover {
  color: #bcbcc0dc !important;
}

#one .icons li a {
	width: 60px;
	display: flex;
	justify-content: center;
}


@media only screen and (max-width: 530px) {
	#one .top-links {
		flex-direction: column;
	}
	
	#one .icons {
		align-self: center;
		margin-left: 0;
	}
}

#header > header p {
  color: #ffffff;
}

ul.resume-stuff {
  list-style: none;
}

.button.primary {
  background-color: #7289da;
  margin-bottom: 15px;
}

input.primary {
	background-color: #7289da !important;
}

.button.primary:hover {
  background-color: #5a74d0;
}

.container h3 {
  font-size: 1.75em;
}

ul.feature-icons p {
  font-weight: 700;
  color: #777;
}

#titleBar, #wrapper, #main, .toggle {
  border-right: #7289da;
}

.container .resume.button {
  padding: 0 10px 0 10px !important;
}

.top-links ul.icons li {
	padding: 0 0.5em 0 0!important;
}

@media screen and (max-width: 380px) {
  .button {
    font-size: 5vw !important;
  }
}

/* article .image {
  vertical-align: top !important;
}

.proj-buttons a {
  margin: 10px;
} */

.features article {
	margin-bottom: 1.25em;
	padding-top: 1.25em;
}

.features article .image {
	margin-top: 8px;
	margin-bottom: 1.25em;
}

#main > section > .container {
	padding: 2em 0 0 0;
}

.features article .image {
	vertical-align: top;
}

.proj-buttons {
  display: flex;
  align-items: baseline
}

.proj-buttons a.alt {
  margin-left: 5px;
}

.inner p {
  margin-bottom: 0.75em !important;
}
